
.question-container{
display: flex;
flex-direction: row;
padding-bottom: 5%;
padding-right: 5%;
color: #060b37;
}
.question-data{
      display: flex;
      flex-direction: column;
}
.titulo{
margin-right: 19%;
margin-left: 6%;
font-size: 400%;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}

.icono {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5%;
   
  &__title {
padding-right: 20%;

  }

  &__icon {
    margin-left: 20%;
    font-size: 24px; 
    cursor: pointer; 
  }
}
.question{
  font-size: 10px;
 width: 100%;
  text-align: center;
    border-top: 1px solid #1c244c; 
  border-bottom: 1px solid #1c244c; 
  
}
.icono:hover{
  background-color: #060b37;
  color: aliceblue;
}

.question__description{
font-size: 18px;
padding-bottom: 3%;
}
.larger-minus {
  font-size: 34px; 
  font-weight: 100;
}
@keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(
        var(--bounce-offset)
      );
    }
  }


@media only screen and (max-width: 600px) {
.question-container{
display: flex;
flex-direction: column;
}
}
