/* Colores de texto */
$color-texto-white: white;
$color-texto-green: rgba(93, 211, 199, 1);
$color-texto-gray: rgba(224, 228, 239, 1);
$color-texto-blue: rgba(54, 55, 85, 1);

/* Colores de fondo */
$color-fondo-white: white;
$color-fondo-green: rgba(93, 211, 199, 1);
$color-fondo-gray: rgba(224, 228, 239, 1);
$color-fondo-blue: rgba(54, 55, 85, 1);

.sector-container{
background-image: url('./background.png'); 
  background-size: cover;
  background-position: center;
  background-color: $color-fondo-blue;
  width: 100%;
padding-bottom: 5%;
padding-top: 2%;
color: $color-fondo-white;
}

.sector {
    color: $color-texto-white;
    display: flex;
    flex-direction: row;
  &__title {
    font-size: 230%;
    font-weight: 900;
    margin-top: 5%;
      font-family: 'Poppins', sans-serif;
      padding: 4%;
         animation: slide-in 1000ms;
  }

  &__item {
  display: flex;
  flex-direction: column;
  width: 90%;
   background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  margin: 2%;
  padding: 2%;
  border-radius: 20px;
}
    
 
    &__subtitle {
           font-weight: 300;
           margin: 2%;
    }

    &__name {
            margin: 2%;
    }

    &__description {
            margin: 2%;
            font-size: 16px;
    }
  }

@media only screen and (max-width: 600px) {
  .sector {
    display: flex;
    flex-direction: column;
  }
}

