$color-fondo: #ffffff;
$fuente-tipica:'Montserrat', sans-serif;
$color-letra: #9331be;
*{
    text-align: none;
    margin: 0%;
    padding: 0%;
    font-family: $fuente-tipica;
}
body {
  font-family: $fuente-tipica;
  color: $color-letra;
    margin: 0%;
    padding: 0%;
}
root{
    margin: 0%;
    padding: 0%;
}
  @keyframes slide-in {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0%);
    }
  }

@keyframes animation1 {
  0% {
    animation-timing-function: ease-in;opacity: 1;transform: translateX(-48px);
  }
  24% {
    opacity: 1;
  }
  40% {
    animation-timing-function: ease-in;transform: translateX(-26px);
  }
  65% {
    animation-timing-function: ease-in;transform: translateX(-13px);
  }
  82% {
    animation-timing-function: ease-in;transform: translateX(-6.5px);
  }
  93% {
    animation-timing-function: ease-in;transform: translateX(-4px);
  }
  25%,55%,75%,87%,98% {
    animation-timing-function: ease-out;transform: translateX(0px);
  }
  100% {
    animation-timing-function: ease-out;opacity: 1;transform: translateX(0px);
  }
  
}