$color-fondo: #ffffff;
$fuente-tipica:'Montserrat', sans-serif;

$color-texto-white: white;
$color-texto-green: rgba(93, 211, 199, 1);
$color-texto-gray: rgba(224, 228, 239, 1);
$color-texto-blue: rgba(54, 55, 85, 1);


$color-fondo-white: white;
$color-fondo-green: rgba(93, 211, 199, 1);
$color-fondo-gray: rgba(224, 228, 239, 1);
$color-fondo-blue: rgba(54, 55, 85, 1);

*{
    text-align: none;
    margin: 0%;
    padding: 0%;
    font-family: $fuente-tipica;
}
body {
  font-family: $fuente-tipica;
  color: $color-texto-blue;
    margin: 0%;
    padding: 0%;
}
root{
    margin: 0%;
    padding: 0%;
}
  @keyframes slide-in {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0%);
    }
  }

@keyframes animation1 {
  0% {
    animation-timing-function: ease-in;opacity: 1;transform: translateX(-48px);
  }
  24% {
    opacity: 1;
  }
  40% {
    animation-timing-function: ease-in;transform: translateX(-26px);
  }
  65% {
    animation-timing-function: ease-in;transform: translateX(-13px);
  }
  82% {
    animation-timing-function: ease-in;transform: translateX(-6.5px);
  }
  93% {
    animation-timing-function: ease-in;transform: translateX(-4px);
  }
  25%,55%,75%,87%,98% {
    animation-timing-function: ease-out;transform: translateX(0px);
  }
  100% {
    animation-timing-function: ease-out;opacity: 1;transform: translateX(0px);
  }
  
}